.team {

    height: 100%;
    width: 80%;
    display: inline;

    .player {

        background-color: #EB5B14; //  avatar background color

        .number { // back number color
            color: #ffffff;
        }
    }

    &.wide {
        width: 80%;
    }

    &.away {

        margin-left: auto;

        .goalkeeper {
            float: right;
        }

        .lines {
            float: left;
            flex-direction: row-reverse;

            .line{



            .rb {
                position: absolute;
                top: 13%;
            }

            .rcb {
                position: absolute;
                top: 33%;
            }
            .cb {
                position: absolute;
                top: 47.5%;
            }
            .lcb {
                position: absolute;
                top: 57%;
            }
            .lb {
                position: absolute;
                top: 79%;
            }





            .rwb {
                position: absolute;
                top: 15%;
            }
            .rdm {
                position: absolute;
                top: 35%;
            }
            .cdm {
                position: absolute;
                top: 47.5%;
            }
            .ldm {
                position: absolute;
                top: 60%;
            }
            .lwb {
                position: absolute;
                top: 80%;
            }






            .rm {
                position: absolute;
                top: 15%;
            }
            .rcm {
                position: absolute;
                top: 35%;
            }
            .cm {
                position: absolute;
                top: 47.5%;
            }
            .lcm {
                position: absolute;
                top: 60%;
            }
            .lm {
                position: absolute;
                top: 80%;
            }






            .ram {
                position: absolute;
                top: 30%;
            }
            .cam {
                position: absolute;
                top: 47.5%;
            }
            .lam {
                position: absolute;
                top: 65%;
            }







            .rw {
                position: absolute;
                top: 15%;
            }
            .rf {
                position: absolute;
                top: 30%;
            }
            .cf {
                position: absolute;
                top: 47.5%;
            }
            .lf {
                position: absolute;
                top: 65%;
            }
            .lw {
                position: absolute;
                top: 80%;
            }





            .rs {
                position: absolute;
                top: 35%;
            }
            .st {
                position: absolute;
                top: 47.5%;
            }
            .ls {
                position: absolute;
                top: 60%;
            }

            }
        }



        .player {

            background-color: #008BE0;

            .number { //back number
                color: #333333;
            }
        }
    }

    .goalkeeper {
        height: 100%;
        width: 25%;
        float: left;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .lines {

        height: 100%;
        width: 80%;
        float: right;
        display: flex;

        .line {

            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            //justify-content: space-evenly; // space evenly를 빼고 top을 지정?
            align-items: center;

            .sw {
                position: absolute;
                top: 45.5%;
            }


            .lb {
                position: absolute;
                top: 13%;
            }

            .lcb {
                position: absolute;
                top: 33%;
            }
            .cb {
                position: absolute;
                top: 47.5%;
            }
            .rcb {
                position: absolute;
                top: 57%;
            }
            .rb {
                position: absolute;
                top: 79%;
            }





            .lwb {
                position: absolute;
                top: 15%;
            }
            .ldm {
                position: absolute;
                top: 35%;
            }
            .cdm {
                position: absolute;
                top: 47.5%;
            }
            .rdm {
                position: absolute;
                top: 60%;
            }
            .rwb {
                position: absolute;
                top: 80%;
            }






            .lm {
                position: absolute;
                top: 15%;
            }
            .lcm {
                position: absolute;
                top: 35%;
            }
            .cm {
                position: absolute;
                top: 47.5%;
            }
            .rcm {
                position: absolute;
                top: 60%;
            }
            .rm {
                position: absolute;
                top: 80%;
            }






            .lam {
                position: absolute;
                top: 30%;
            }
            .cam {
                position: absolute;
                top: 47.5%;
            }
            .ram {
                position: absolute;
                top: 65%;
            }







            .lw {
                position: absolute;
                top: 15%;
            }
            .lf {
                position: absolute;
                top: 30%;
            }
            .cf {
                position: absolute;
                top: 47.5%;
            }
            .rf {
                position: absolute;
                top: 65%;
            }
            .rw {
                position: absolute;
                top: 80%;
            }





            .ls {
                position: absolute;
                top: 35%;
            }
            .st {
                position: absolute;
                top: 47.5%;
            }
            .rs {
                position: absolute;
                top: 60%;
            }
        }
    }


}
